.wallet-content-account{
    background-color: #f5f6fa !important;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 32px 22px;
    box-sizing: border-box;
}

.wallet-container {
    display: block;
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* flex-wrap: nowrap; */
    position: absolute;
    height: 64%;
    width: 65%;
    background-color: #ffffff;
    border-radius: 10px;
    margin: -18px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    top: 13%;
}
.wallet-container h1{
    position: relative;
    text-align: center;
    top: 35px;
}
.wallet-detail {
    align-items: center;
    position: absolute;
    width: 25%;
    height: 24%;
    background-color: #ffffff;
    border-radius: 10px;
    left: 69%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}
.wallet-statistics{
    position: absolute;
    width: 65%;
    height: 45%;
    background-color: #ffffff;
    border-radius: 10px;
    left: 33%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    top: 30%;
}
.wallet-chart {
    position: absolute;
    width: 32%;
    height: 38%;
    background-color: #ffffff;
    border-radius: 10px;
    left: 66%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    top: 36%;
}
.wallet-head{
    padding-bottom: 28px;
}
.wallet-head-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.icon-border-wallet {
    display: flex;
    width: 145px;
    height: 41px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 19px;
    background: #6576ff;
    box-sizing: border-box;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}
.icon-border-wallet .wallet-head-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.icon-border-wallet i {
    font-size: 20px;
    color: white;
    display: block;
    position: static;
    box-sizing: border-box;
    line-height: 38px;
}
.icon-border-wallet span{
    line-height: 38px;
    margin-left: 7px;
    padding-left: 10px;
    display: block;
    box-sizing: border-box;
    color: white;
}
.wallet-list-table {
    border: 1px solid #dbdfea;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    top: 85px;
    position: relative;
}
.wallet-list-table tr,td{
    width: auto;
    vertical-align: middle;
    text-align: center;
}
.wallet-list-table thead{
    background-color: #ecebea;
}
.wallet-list-table  tr {
    border-bottom: 1px solid #ddd;
}
/*tr:nth-child(even) {background-color: #f2f2f2;}*/
.wallet-list-table tbody tr:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}
.table-wallet-container{
    position: relative;
height: 30%;
}
.wallet-list-table thead,.wallet-list-table tbody,.wallet-list-table tfoot,.wallet-list-table tr,.wallet-list-table td,.wallet-list-table th {
    border-color: inherit;
    border-style: solid;
}